# Working with DataFrames

## Loading the dataset onto a DataFrame

In [ ]:
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [ ]:
pd.read_csv

In [ ]:
ipl_auction_df = pd.read_csv( 'IPL IMB381IPL2013.csv' )

In [ ]:
type(ipl_auction_df)

In [ ]:
pd.core.frame.DataFrame

## Displaying first few records of the DataFrame

In [ ]:
pd.set_option('display.max_columns', 7)

In [ ]:
ipl_auction_df.head(5)

## Finding metadata of the DataFrame

In [ ]:
list(ipl_auction_df.columns)

In [ ]:
ipl_auction_df.head(5).transpose()

In [ ]:
ipl_auction_df.shape

## Finding Summary of the DataFrame

In [ ]:
ipl_auction_df.info()

## Slicing and Indexing a dataframe

In [ ]:
ipl_auction_df[0:5]

In [ ]:
ipl_auction_df[-5:]

## Selecting Columns by Column Names

In [ ]:
ipl_auction_df['PLAYER NAME'][0:5]

In [ ]:
ipl_auction_df[['PLAYER NAME', 'COUNTRY']][0:5]

## Selecting Rows and Columns by indexes

In [ ]:
ipl_auction_df.iloc[4:9, 1:4]

# Value Counts and Cross Tabulations

## Finding Unique Occurances of Values in Columns

In [ ]:
ipl_auction_df.COUNTRY.value_counts()

In [ ]:
ipl_auction_df.COUNTRY.value_counts(normalize=True)*100

# Cross-tabulation between two columns

In [ ]:
pd.crosstab( ipl_auction_df['AGE'], ipl_auction_df['PLAYING ROLE'] )

## Sorting dataframe by column values

In [ ]:
ipl_auction_df[['PLAYER NAME', 'SOLD PRICE']].sort_values('SOLD PRICE')[0:5]

In [ ]:
ipl_auction_df[['PLAYER NAME', 'SOLD PRICE']].sort_values('SOLD PRICE', ascending = False)[0:5]

# Creating new columns

### Which player got the maximum premium on the base price?

In [ ]:
ipl_auction_df['premium'] = ipl_auction_df['SOLD PRICE'] - ipl_auction_df['BASE PRICE']

In [ ]:
ipl_auction_df[['PLAYER NAME', 'BASE PRICE', 'SOLD PRICE', 'premium']][0:5]

### Which players got the maximum premium offering on their base price?

In [ ]:
ipl_auction_df[['PLAYER NAME',
'BASE PRICE',
'SOLD PRICE', 'premium']].sort_values('premium',
ascending = False)[0:5]

# Grouping and Aggregating

### What is the average SOLD PRICE for each age category?

In [ ]:
ipl_auction_df.groupby('AGE')['SOLD PRICE'].mean()

In [ ]:
soldprice_by_age = ipl_auction_df.groupby('AGE')['SOLD PRICE'].mean().reset_index()
soldprice_by_age

## Average SOLD PRICE for Different Playing Roles in Each Age Category?

In [ ]:
soldprice_by_age_role = ipl_auction_df.groupby(['AGE', 'PLAYING ROLE'])['SOLD PRICE'].mean().reset_index()
soldprice_by_age_role

## Joining dataframes

### Compare the average auction price for different ages and playing roles.

In [ ]:
soldprice_comparison = soldprice_by_age_role.merge( soldprice_by_age,on = 'AGE',how = 'outer')

In [ ]:
soldprice_comparison

# Re-naming columns

In [ ]:
soldprice_comparison.rename( columns = { 'SOLD PRICE_x': 'SOLD_PRICE_AGE_ROLE','SOLD PRICE_y': 'SOLD_PRICE_AGE' }, inplace = True )

In [ ]:
soldprice_comparison.head(5)

## Applying Operations to multiple columns

### Percentage change in SOLD PRICE

In [ ]:
soldprice_comparison['change'] = soldprice_comparison.apply(lambda rec:(rec.SOLD_PRICE_AGE_ROLE - rec.SOLD_PRICE_AGE) / rec.SOLD_PRICE_AGE,
axis = 1)

In [ ]:
soldprice_comparison

# soldprice_comparison

### Which players have hit more then 80 sixes in the IPL tournament so far?

In [ ]:
ipl_auction_df[ipl_auction_df['SIXERS'] > 80 ][['PLAYER NAME', 'SIXERS']]

## Removing a column

In [ ]:
ipl_auction_df.drop( 'Sl.NO.', inplace = True, axis = 1)

In [ ]:
ipl_auction_df.columns

# Dealing With Missing Values

In [ ]:
autos = pd.read_csv('auto-mpg.data',sep= '\s+',header=None)
autos.head(5)

In [ ]:
autos.columns = ['mpg','cylinders', 'displacement','horsepower', 'weight', 'acceleration','year', 'origin', 'name']
autos.head( 5 )

In [ ]:
autos.columns = ['mpg','cylinders', 'displacement','horsepower', 'weight', 'acceleration','year', 'origin', 'name']
autos.head( 5 )

In [ ]:
autos.info()

In [ ]:
autos["horsepower"] = pd.to_numeric( autos["horsepower"], errors = 'corece' )
autos.info()

In [ ]:
autos[autos.horsepower.isnull()]

In [ ]:
autos = autos.dropna(subset = ['horsepower'])

In [ ]:
autos[autos.horsepower.isnull()]

# Exploration using Visualization Plots

## Drawing Plots

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sn
%matplotlib inline

In [ ]:
import warnings
warnings.filterwarnings('ignore')

# Bar Plot

In [ ]:
sn.barplot(x = 'AGE', y = 'SOLD PRICE', data = soldprice_by_age);

In [ ]:
sn.barplot(x = 'AGE', y = 'SOLD_PRICE_AGE_ROLE', hue = 'PLAYING ROLE', data = soldprice_comparison);

# Histogram

In [ ]:
plt.hist( ipl_auction_df['SOLD PRICE'] );

In [ ]:
plt.hist( ipl_auction_df['SOLD PRICE'], bins = 20 );

## Distribution or Density plot

In [ ]:
sn.distplot( ipl_auction_df['SOLD PRICE']);

# Box Plot

In [ ]:
box = sn.boxplot(ipl_auction_df['SOLD PRICE']);

In [ ]:

box = plt.boxplot(ipl_auction_df['SOLD PRICE']);

In [ ]:
[item.get_ydata()[0] for item in box['caps']]

In [ ]:
[item.get_ydata()[0] for item in box['whiskers']]

In [ ]:
[item.get_ydata()[0] for item in box['medians']]

# Who are outliers?

In [ ]:
ipl_auction_df[ipl_auction_df['SOLD PRICE'] > 1350000.0][['PLAYER NAME','PLAYING ROLE','SOLD PRICE']]

## Comparing Distributions

#### Using distribution plots

In [ ]:
sn.distplot( ipl_auction_df[ipl_auction_df['CAPTAINCY EXP'] == 1]['SOLD PRICE'],
color = 'y',
label = 'Captaincy Experience')
sn.distplot( ipl_auction_df[ipl_auction_df['CAPTAINCY EXP'] == 0]['SOLD PRICE'],
color = 'r',
label = 'No Captaincy Experience');
plt.legend();

## Using box plots

In [ ]:

sn.boxplot(x = 'PLAYING ROLE', y = 'SOLD PRICE', data = ipl_auction_df);

## Scatter Plot

In [ ]:
ipl_batsman_df = ipl_auction_df[ipl_auction_df['PLAYING ROLE'] == 'Batsman']

In [ ]:
plt.scatter(x = ipl_batsman_df.SIXERS,y = ipl_batsman_df['SOLD PRICE']);
plt.xlabel('SIXERS')
plt.ylabel('SOLD PRICE');

In [ ]:
sn.regplot( x = 'SIXERS',
y = 'SOLD PRICE',
data = ipl_batsman_df );

# Pair Plot

In [ ]:
influential_features = ['SR-B', 'AVE', 'SIXERS', 'SOLD PRICE']

In [ ]:
sn.pairplot(ipl_auction_df[influential_features], size=2)

# Correlations and Heatmaps

In [ ]:
ipl_auction_df[influential_features].corr()

In [ ]:
sn.heatmap(ipl_auction_df[influential_features].corr(), annot=True);